* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: #F7F7FD;
    font-size: 62.5%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, select, textarea, input {
    font-family: 'Jost', sans-serif;
}

h1 {
    font-size: 18px;
    color: #3A4374;
}

h2 {
    color: #647196;
    font-weight: 400;
}